fastapi==0.121.1
uvicorn[standard]
pydantic
transformers
torch --index-url https://download.pytorch.org/whl/cpu
numpy
pandas
scikit-learn
requests
azure-storage-blob  # si stockage Azure requis

